@import url(../../../../assets/style/_fonts.scss);
.merchant-information {
  width: 100%;
  margin-bottom: 32px;
  @media (min-width: 480px) and (max-width: 767px) {
    margin-bottom: 38px;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    margin-bottom: 46px;
  }
  @media (min-width: 1024px) and (max-width: 1439px) {
    margin-bottom: 48px;
  }
  @media (min-width: 1440px) {
    margin-bottom: 52px;
  }
  .merchant-information-header {
    font-family: "Clash Grotesk Semibold";
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 16px;
    @media (min-width: 480px) and (max-width: 767px) {
      font-size: 17px;
      margin-bottom: 17px;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 19px;
      margin-bottom: 18px;
    }
    @media (min-width: 1024px) and (max-width: 1439px) {
      font-size: 20px;
      margin-bottom: 23px;
    }
    @media (min-width: 1440px) {
      font-size: 21px;
      margin-bottom: 24px;
    }
  }
  .profil-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    @media (min-width: 480px) and (max-width: 767px) {
      gap: 26px;
    }
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: none;
    }
    .profil-info {
      width: 100%;
      display: flex;
      align-items: center;
      .firma-logo {
        width: 52px;
        height: 52px;
        background-image: url(../../../../assets/icon/Logitech.svg);
        background-position: 30% 45%;
        background-repeat: no-repeat;
        background-size: 200%;
        cursor: pointer;
        @media (min-width: 480px) and (max-width: 767px) {
          width: 68px;
          height: 68px;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
          width: 76px;
          height: 76px;
        }
        @media (min-width: 1024px) and (max-width: 1439px) {
          width: 84px;
          height: 84px;
        }
        @media (min-width: 1440px) {
          width: 94px;
          height: 94px;
        }
      }
      .firma-info {
        .firma-name {
          font-family: "Clash Grotesk Semibold";
          font-size: 14px;
          font-weight: 600;
          color: #000;
          margin-bottom: 2px;
          cursor: pointer;
          @media (min-width: 480px) and (max-width: 767px) {
            font-size: 14px;
            margin-bottom: 2px;
          }
          @media (min-width: 768px) and (max-width: 1023px) {
            font-size: 15px;
            margin-bottom: 3px;
          }
          @media (min-width: 1024px) and (max-width: 1439px) {
            font-size: 16px;
            margin-bottom: 4px;
          }
          @media (min-width: 1440px) {
            font-size: 18px;
            margin-bottom: 4px;
          }
        }
        .user-name {
          font-family: "Clash Grotesk Regular";
          font-size: 12px;
          font-weight: 400;
          margin-bottom: 4px;
          color: rgba(129, 139, 156, 1);
          cursor: pointer;
          @media (min-width: 480px) and (max-width: 767px) {
            font-size: 13px;
            margin-bottom: 6px;
          }
          @media (min-width: 768px) and (max-width: 1023px) {
            font-size: 14px;
            margin-bottom: 10px;
          }
          @media (min-width: 1024px) and (max-width: 1439px) {
            font-size: 14px;
            margin-bottom: 12px;
          }
          @media (min-width: 1440px) {
            font-size: 16px;
            margin-bottom: 13px;
          }
        }
        .profil-hashtag {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 8px;
          .hashtag {
            padding: 5px 8px;
            border: none;
            border-radius: 4px;
            background-color: rgba(29, 158, 52, 0.1);
            font-family: "Clash Grotesk Medium";
            font-size: 12px;
            font-weight: 500;
            color: rgba(29, 158, 52, 1);
            @media (min-width: 480px) and (max-width: 767px) {
              font-size: 12px;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
              font-size: 13px;
            }
            @media (min-width: 1024px) and (max-width: 1439px) {
              font-size: 14px;
            }
            @media (min-width: 1440px) {
              font-size: 15px;
            }
          }
        }
      }
    }
    .profil-card-btns {
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 17px;
      .profil-card-btn {
        width: 100%;
        padding: 14px 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border: 1px solid rgba(30, 76, 47, 1);
        border-radius: 8px;
        background-color: transparent;
        font-family: "Clash Grotesk Semibold";
        font-size: 14px;
        font-weight: 600;
        color: rgba(30, 76, 47, 1);
        cursor: pointer;
        @media (min-width: 480px) and (max-width: 767px) {
          font-size: 14px;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
          width: initial;
          font-size: 15px;
        }
        @media (min-width: 1024px) and (max-width: 1439px) {
          width: initial;
          font-size: 16px;
        }
        @media (min-width: 1440px) {
          width: initial;
          font-size: 18px;
        }
      }
    }
  }
}
