@font-face {
    font-family: "Clash Grotesk Medium";
    src: url(../fonts/ClashGrotesk-Medium.otf);
}

@font-face {
    font-family: "Clash Grotesk Regular";
    src: url(../fonts/ClashGrotesk-Regular.otf);
}

@font-face {
    font-family: "Clash Grotesk Semibold";
    src: url(../fonts/ClashGrotesk-Semibold.otf);
}

@font-face {
    font-family: "Clash Grotesk-Light";
    src: url(../fonts/ClashGrotesk-Light.otf);
}

@font-face {
    font-family: "Clash Grotesk Extralight";
    src: url(../fonts/ClashGrotesk-Extralight.otf);
}